body {
  background-color: #ebebeb;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title {
  padding-bottom: 0;
  margin-bottom: 0;
}

nav {
  float: right;
  margin: 10px;
  display: flex;
}

nav a {
  display: flex;
  padding: 14px 16px;
}
nav a:hover {
  background-color: #ddd;
}

nav a#active {
  background-color: #04aa6d;
  color: white;
}
